.cartContainer{
    margin: auto;
    width: 80%;
    margin-top: 20px;
    padding: 20px;
}

.Cart_hr{
    width: 90%;
    margin-top: 30px;
    margin-left: 10px;
    color: rgb(255, 128, 0);
}

.CartTitle{
    font-size: 60px;
    text-align: center;
    color: rgb(255, 184, 77);
    
}

.Cart_P{
    font-size: 20px;
}

.boton_vaciar{
    background-color: transparent;
    color: antiquewhite;
    border-radius: 10px;
    border: 1px solid red;
    width: 100px;
    height: 40px;
    font-size: 18px;
}

.boton_vaciar:hover{
    background-color: rgb(191, 44, 44);
    box-shadow: 0 0 10px  red, 0 0 10px  red, 0 0 10px  red; 
}

.boton_terminar{
    background-color: rgb(91, 188, 91);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
}

.boton_terminar:hover{
    box-shadow: 0 0 10px  rgb(3, 251, 3), 0 0 10px  rgb(3, 251, 3), 0 0 10px  rgb(3, 251, 3); 
}

.Cart_h3{
    margin-top: 10px;
    color:rgb(255, 184, 77) ;
}