.itemDetail{
    width: 70%;
    height: 840px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 25px ;
    margin-bottom: 30px ;
    background-color: rgb(29, 29, 29);
}

.animation_itemDetail:before, .animation_itemDetail:after{
    content: '';
    position: absolute;
    left: 278px;
    top: 120px;
    background: linear-gradient(120deg, #fb00c5,#fb0075,#fb00d5,#c000fb,#00b8fb, #00f3fb,#00fb60,#43fb00,#c5fb00,#f3fb00,#fbc000,#fb8e00,#fb3f00,#fb0000);
    background-size: 300%;
    width: calc(70% + 16px);
    height: calc(86% + 16px);
    z-index: -1;
    animation: BGgradient 15s ease infinite;
}

@keyframes BGgradient{
    0%{
        background-position: 0% 200%;
    }
    50%{
        background-position: 200% 0%;
    }
    100%{
        background-position: 0% 330%;
    }
}

.animation_itemDetail:after{
    filter: brightness(1.4);
    filter: drop-shadow(16px 16px 20px rgb(248,220,97));
    filter: blur(15px);
}

.itemDetailInfo{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    align-items: flex-start;
}

.tituloProducto{
    font-size: 35px;
    margin-bottom: 15px;
}

.description{
    word-wrap: break-word;
    font-size: 22px;
}

.info_container{
    margin-top: 20px;


}

.info{
    font-size: 25px;

}

.img{
    width: 600px;
    height: 550px;
    background-size:cover;
    object-fit: cover;
}

.hr_item{
    color: white;
    margin: 30px;
    width: 80%;
    margin-left: 200px;
    font-size: 10px;
}

.hr_interno{
    color: white;
    width: 100%;
    font-size: 10px;
}