.CartItem{
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 25px;
    padding-right: 15px;
    background-color: transparent;
    border: 0;
    color: white;

}

.CartItem_spam{
    position: absolute;
    right: 15px;
    top: 50px;
}

