.Header{
    background-color: rgb(175, 89, 89);
   display: flex;
   flex-wrap: wrap;
   height: 100px;
}

.Nav{
    width: 700px;
    height: 50%;
    margin-right:600px;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}



.Title{
    margin-right:50px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 35px;
}

.Links{
    margin: 20px;
}

.drop{
    margin: 20px;
    width: 100px;
    margin-top: 20px;
}

.LinksDrop{
    margin: 5px;
    text-decoration: none;
    color: black;
    
}


a:visited,a:active,a:link,a:hover{
    color: rgb(255, 247, 247);
    text-decoration: none;
}


.LinksDrop:visited,.LinksDrop:active,.LinksDrop:link,.LinksDrop:hover{
    color: rgb(0, 0, 0);

}
