.Header{
    background-color: rgb(255, 132, 0);
   display: flex;
   flex-wrap: wrap;
   height: 100px;
}

.Nav{
    width: 900px;
    height: 50%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}



.Title{
    margin-right:50px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 30px;
    color: rgb(255, 240, 240);
    font-family: 'Press Start 2P', cursive;
    
}

.Links{
    margin: 20px;
    font-size: 25px;
}

.drop{
    margin: 20px;
    width: 100px;
    margin-top: 20px;
}

.LinksDrop{
    margin: 5px;
    text-decoration: none;
    color: rgb(29, 29, 29);
    
}


a:visited,a:active,a:link,a:hover{
    color: rgb(29, 29, 29);
    text-decoration: none;
}

.Title:visited,Title:active,Title:link,Title:hover{
    color: rgb(29, 29, 29);
    text-decoration: none;
    
}


.LinksDrop:visited,.LinksDrop:active,.LinksDrop:link,.LinksDrop:hover{
    color: rgb(29, 29, 29);

}
